<div class="center hero-unit">
  <h1>¡Bienvenid@ a Tuiti!</h1>

  <h2>
    Esta es la página principal de mi aplicación de prueba para aprender
    a utilizar Ruby on Rails :D
  </h2>

  <%= link_to "¡Apúntate!", '#', class: "btn btn-large btn-primary" %>
</div>
