<div class="center hero-unit">
  <h1>¡Bienvenid@ a Tuiti!</h1>

  <h2>
    Esta es la página principal de mi red social de prueba en Ruby on Rails :D
  </h2>

  <%= link_to "¡Apúntate!", signup_path, class: "btn btn-large btn-primary" %>
</div>
