<div class="center hero-unit">
  <h1>¡Bienvenid@ a comoCuido!</h1>

  <h2>
    La web que te ayuda a cuidar de quien te cuidó
  </h2>

  <%= link_to "¡Apúntate!", signup_path, class: "btn btn-large btn-primary" %>
</div>
